.userCards {
	padding: 50px;
	max-width: 1500px;
	margin: auto;
}
.userCards .card-text {
	padding: 0px;
	max-width: 1500px;
	height: auto;
}

.userCards .card-body {
	display: flex;
}

.userCards img {
	width: 20px;
}
