.topHalf {
	background: linear-gradient(to bottom, rgba(0, 0, 0, 0), rgba(0, 0, 0, 1)),
		url("https://images.unsplash.com/photo-1532901945832-bdf4f9e008fa?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2070&q=80");
	object-fit: contain;
	background-position: center;
	display: flex;
	align-items: center;
	padding-top: 700px;
	margin-left: 0px;
	overflow: visible;
	width: 100%;
	padding: 30px;
	border-top-left-radius: 20px;
	border-top-right-radius: 20px;
}
.topHalf h1 {
	padding-left: 20px;
	margin-top: 10px;
	font-family: "Orbitron", sans-serif;
	font-weight: 900;
	color: white;
	box-shadow: rgba(0, 0, 0, 0.18) 0px 2px 4px;
}

h2 {
	font-family: "Orbitron", sans-serif;
	font-weight: 900;
	font-size: 23px;
	color: #3d3d3d;
	border-bottom: solid 2px #38a3a550;
	margin: auto;
	max-width: 70%;
	padding-bottom: 10px;
}

.bottomHalf {
	background-color: #f3f3f3;
	margin-top: -100px;
	min-height: 150px;
	text-align: left;
	padding-left: 30px;
	padding-right: 100px;
	padding-top: 15px;
	display: flex;
	flex-direction: column;
	border-bottom-left-radius: 20px;
	border-bottom-right-radius: 20px;
	padding-bottom: 35px;
	box-shadow: rgba(0, 0, 0, 0.18) 0px 2px 4px;
}
.ProfileprofileImage {
	border-radius: 4000px;
	border: solid #57cc99 8px;
	height: 200px;
	width: 200px;
	object-fit: cover;
	box-shadow: rgba(0, 0, 0, 0.18) 0px 2px 4px;
	padding: 0px;
	vertical-align: middle;
	background: #57cc99;
}

.profileCard {
	width: 100%;
	border-radius: 30px;
}
.details {
	font-family: "Assistant", sans-serif;
	font-weight: normal;
	color: #3d3d3d;
	background-color: #f3f3f3;
	box-shadow: rgba(0, 0, 0, 0.18) 0px 2px 4px;
	min-width: 200px;
	margin-top: 0px;
	margin-left: 225px;
	border-radius: 10px;
	margin-bottom: 25px;
}
.description {
	margin-left: 225px;
}
.join {
	background: #57cc99;
	padding: 10px 25px;
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
}
.otherDets {
	padding: 10px 25px;
}

span.title {
	font-weight: 900;
}

.profileHeader {
	margin-bottom: 25px;
	margin-top: 50px;
	margin-left: auto;
	margin-right: auto;
}
.myFish {
	background-color: #f3f3f3;
	padding: 15px;
	width: 100%;
	border-radius: 10px;
	box-shadow: rgba(0, 0, 0, 0.18) 0px 2px 4px;
	margin-bottom: 50px;
}

.myFishCards {
	padding: 0px;
	max-width: 1500px;
	margin: auto;
}

.myFishCards .card-text {
	height: auto;
}

.myFishCards .card {
	background-color: white;
	border: none;
	border-radius: 10px;
	box-shadow: rgba(0, 0, 0, 0.18) 0px 2px 4px;
	width: 100%;
}
hr.detailBreak {
	margin: 10px 0px;
}

.userFishGear {
	align-items: flex-start;
}

@media only screen and (max-width: 700px) {
	.topHalf {
		flex-direction: column;
		padding-bottom: 75px;
	}
	.details,
	.description {
		margin-left: 0px;
	}
	.bottomHalf {
		margin-top: 0px;
		padding: 0px 20px 20px 20px;
		border-bottom-left-radius: 0px !important;
		border-bottom-right-radius: 0px !important;
	}
	.details {
		margin-top: -65px;
	}
	.profileHeader {
		margin-top: 0px;
	}
	.topHalf {
		border-top-left-radius: 0px !important;
		border-top-right-radius: 0px !important;
	}
	.profileCard {
		padding: 0px;
		border-radius: 0px;
	}
}
