.App {
	text-align: center;
}

.App-logo {
	height: 40vmin;
	pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
	.App-logo {
		animation: App-logo-spin infinite 20s linear;
	}
}

.App-header {
	background-color: #282c34;
	min-height: 100vh;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	font-size: calc(10px + 2vmin);
	color: white;
}

.App-link {
	color: #61dafb;
}

.password-icon {
	position: relative;
	top: -38px;
	left: 92%;
	cursor: pointer;
	color: #57cc99;
	transition: color 0.25s ease;
}
.password-icon:hover {
	color: #57cc99;
	transition: color 0.25s ease;
}
.delete-modal {
	border-bottom-right-radius: 20px;
	border-bottom-left-radius: 20px;
}

.fishies {
	height: 250px;
}
.fishies.profile.card-img {
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
}

@media only screen and (max-width: 700px) {
	.fishies.profile.card-img {
		border-top-left-radius: 0px;
		border-top-right-radius: 0px;
	}
	.password-icon {
		left: 87%;
	}
	.fishies {
		height: 350px;
	}
}
@keyframes App-logo-spin {
	from {
		transform: rotate(0deg);
	}
	to {
		transform: rotate(360deg);
	}
}
